/nbproject/private/
/build/
/dist/
/src/m6/UF2PersistenciaenBDBDORiBDOO/Exercici7/Exercici7Part2/build/
/src/m6/UF2PersistenciaenBDBDORiBDOO/Exercici7/Exercici7Part2/nbproject/private/
/src/m6/UF2PersistenciaenBDBDORiBDOO/Exercici8/Taller/nbproject/private/
/src/m6/UF2PersistenciaenBDBDORiBDOO/Exercici8/Taller/build/